
*.dll
*.so
*.cache
*.pdb
*.json
*.props
*.info
*.xml
*.config
*.v2
*.vsidx
*.bin
*.a
*.dylib
*.CopyComplete
*.txt
*.editorconfig
*.BuildWithSkipAnalyzers
*.exe
FurnStore/.vs/FurnStore/v17/.suo
*.exe
*.targets
*.exe
FurnStore/.vs/FurnStore/v17/.suo
*.meta
FurnStore/FurnStore.sln.DotSettings.user
FurnStore/bin/Debug/net7.0/FurnStore.exe
*.exe
