@{
    ViewData["Title"] = "About";
}

<div style="margin-top:150px; margin-bottom:150px;" class="container">
    <div class="card mx-auto text-white bg-primary mb-3" style="width:25rem;">
        <div class="card-body">
            <h5 class="card-title">Mohamed Shil</h5>
            <h6 style="margin-bottom:10px;" class="card-subtitle mb-2 text-">Computer Science Student</h6>
            <p>Computer Science | UCL<br/>Interested in Android Development in Kotlin & ASP.NET MVC Web Development</p>
            <a href="https://Github.com/Moha2088" style="color: white; text-decoration:dotted;" class="card-link" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/mohamed-shil/" class="card-link" style="color: white; text-decoration:none;" target="_blank">LinkedIn</a>
        </div>
    </div>
</div>