@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="margin-bottom:5%;">
        <b>FurnStore</b>
    </h1>
    <p>Store with used furniture available for renting!</p>
</div>