@{
    ViewData["Title"] = "FurnStore";
}

<div class="text-center">
    <h1 style="margin-bottom:2%; margin-top:3%;">
        <b>FurnStore</b>
    </h1>
    <p style="margin-bottom:4%">Store with used furniture available for renting!</p>
    <img style="width:1000px; height:600px; margin-bottom:300px;" src="/Images/bartlamStephenKenn-f51b9c16328a4b33bac763764f741071.png" />

    <div style="display:flex; justify-content:space-evenly; margin-bottom:300px;">
        <h1 class="display-6" style="margin-top:200px; margin-left:100px; margin-right:100px;">Choose from several products to rent</h1>
        <img style="margin-left:100px;" src="/Images/RentImg.png" />
    </div>

    <div style="display:flex; justify-content:space-evenly;">
        <img src="/Images/CancelImg.png" style="margin-right:600px;" />
        <h1 class="display-6" style="margin-top:100px; margin-right:400px;" >Cancel renting easily by a single click</h1>
    </div>

</div>