@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="margin-top: 50px;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This resource can only be accessed by an admin.</p>
</header>
