

@{
    ViewData["Title"] = "Confirmation Page";
}


<body>
<div class="text-center">
    <h1 style="margin-bottom: 2%;">Email sent!</h1>
<p>Thanks for confirming your order. Check your inbox for your confirmation email</p>
    </div>
</body>